[Unit]
Description="myRPC-server daemon."

[Service]
Type=forking
PIDFile=/run/myrpcd.pid
ExecStart="/usr/sbin/myRPC-server"
Restart=on-failure
RestartSec=20s

[Install]
WantedBy=multi-user.target
